<div id='container'>
    <div id='header'>
      <h1>Community Help Portal</h1>
    </div>
  
    <div id='content'>
        <h1>{{twitter.twitter_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' twitter.id %}" method="post">
{% csrf_token %}
<h2>{{twitter.twitter_text}}</h2>
<h2>{{twitter.twitter_location}}</h2>
<h2>{{twitter.twitter_image}}</h2>

<input type="submit" value="Tweet">
</form>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">